.footer {
	width: 100%;
	margin-top: 80px;
}

.copyright {
	box-sizing: border-box;
	height: 50px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #fff;
	font-size: 0.8125rem;
	line-height: 1.5;
	text-align: center;
	background-color: #333;
}
