%cell {
	padding: 5px 7px 7px;
	vertical-align: top;
	border: 1px solid #ccc;
}

%baseTable {
	font-size: 0.8125rem;
	line-height: 1.3;
	background-color: #fff;
	border-collapse: collapse;
}

%tableBottom {
	margin-top: -1px;
}
