// NOTE: Specificity is basically prohibited.
.link {
	display: block;
	padding: 8px 15px;
	line-height: 1.25;
	letter-spacing: -1px;
	font-weight: bold;
	font-size: 15px;
	color: #000;
	text-decoration: none;
	&:link {
		color: #004098;
	}
	&:visited {
		color: #750056;
	}
}
