@use 'src/styles/pc/variables';
@use 'src/styles/pc/_variables_original' as *;

$spriteMega: './assets/images/sprite_meganavi_20180322.png';
$spriteMegaOn: './assets/images/sprite_meganavi_on_20180322.png';
$icoEconomyMeganavi: './assets/images/ico_economy_meganavi.png';

.meganavCategoryHead {
	&.on {
		& > a {
			position: relative;
			background-color: #f5f5f7;
			background-image: url($spriteMegaOn);
			text-decoration: underline !important;
			color: $nagi_color_text_link_hover !important;
			&:before,
			&:after {
				display: block;
				position: absolute;
				top: 50%;
				width: 0;
				height: 0;
				margin-top: -5px;
				border: solid transparent;
				content: ' ';
				pointer-events: none;
				z-index: 1;
			}
			&:before {
				right: -1px;
				border-width: 5px 8px;
				border-right-color: $nagi_color_border_default;
			}
			&:after {
				right: -3px;
				border-width: 5px 8px;
				border-right-color: #fff;
			}
		}
	}
	& > a {
		background-image: url($spriteMega);
		background-repeat: no-repeat;
		&:hover {
			background-color: #f5f5f7 !important;
			background-image: url($spriteMegaOn);
			text-decoration: underline !important;
			color: $nagi_color_text_link_hover !important;
		}
	}
}

.mech {
	& > a {
		background-position: 198px 0;
	}
}
.mech_screw {
	& > a {
		background-position: 198px -35px;
	}
}
.mech_material {
	& > a {
		background-position: 198px -70px;
	}
}
.el_wire {
	& > a {
		background-position: 198px -105px;
	}
}
.el_control {
	& > a {
		background-position: 198px -140px;
	}
}
.fs_machining {
	& > a {
		background-position: 198px -175px;
	}
}
.fs_processing {
	& > a {
		background-position: 198px -210px;
	}
}
.fs_logistics {
	& > a {
		background-position: 198px -245px;
	}
}
.fs_health {
	& > a {
		background-position: 198px -280px;
	}
}
.fs_lab {
	& > a {
		background-position: 198px -315px;
	}
}
.press {
	& > a {
		background-position: 198px -350px;
	}
}
.mold {
	& > a {
		background-position: 198px -385px;
	}
}
.injection {
	& > a {
		background-position: 198px -420px;
	}
}
