.qnaTop {
	max-width: 250px;
	display: flex;
	justify-content: center;
	font-weight: bold;
	padding: 2px 8px;
	border: solid 1px #0169c6;
	background-color: #0169c6;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	height: 30px;
	text-align: center;
	box-sizing: border-box;
	vertical-align: middle;
}
