.container {
	display: block;
}

.itemList {
	display: flex;
	flex-wrap: wrap;
}

.refineText {
	box-sizing: border-box;
	width: 100%;
	height: 37px;
	margin-bottom: 0.5rem;
	padding: 7px 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.noCandidate {
	color: #c00;
}

.listDefault {
	display: inline-block;
	width: auto;
	margin-right: 8px;
	margin-bottom: 8px;
	padding: 7px 11px;
	font-size: 0.8125rem;
	line-height: 1;
	white-space: nowrap;
	border: 1px solid #004098;
	border-radius: 4px;
	cursor: pointer;

	&:hover {
		background-color: #ecf3fc;
		border-color: #004098;
	}
}
// aria-disabled のセレクタでスタイリングしたいところだが、disabled のように見えて、
// これは実際には選択できるため aria-disabled とは合わない。
// 表示のバリエーションの1つと捉えた命名をするしかなかった。
.weak {
	color: #999;
	background-color: #f5f5f5;
	border-color: #ccc;
}

.checked {
	color: #333;
	background-color: #ecf3fc;
	border: 1px solid #004098;
}
