.container {
	width: 510px;
	font-size: 0.8125rem;
}

.buttonList {
	display: table;
	margin: 40px auto 0;
}

.buttonItem {
	display: table-cell;
	vertical-align: middle;

	&:last-child {
		padding-left: 10px;
	}
}
