.container {
	background: #1f4ea9;
}

.heading {
	padding: 10px;
	color: #fff;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.18;
	text-align: center;
}

.nav {
	position: relative;
	display: flex;
	align-items: center;
}

.list {
	display: flex;
	flex: 1 1 auto;
	overflow-x: auto;
}

.link {
	color: #fff;
	font-size: 14px;
	line-height: 1.35;
	text-decoration: none;
}

.item {
	flex: 0 0 auto;
	margin: 0 8px;
	padding: 10px;
	border-bottom: 3px solid transparent;

	&[data-active='true'] {
		border-bottom-color: #fff;

		& > .link {
			font-size: 16px;
		}
	}
}

.shortcut {
	flex: 0 0 auto;
	margin: 0 4px;
}
