@use 'src/styles/mobile/icon';
@use 'icons';

// ボタンのサイズ（幅）
$buttonSizes: (
	xs: 80px,
	s: 140px,
	m: 215px,
	l: 300px,
	xl: 360px,
	max: 100%,
);

@each $key, $size in $buttonSizes {
	.size-#{$key} {
		width: $size;
	}
}

// color mixin
@mixin color($colors) {
	color: map-get($colors, text);
	background-color: map-get($colors, background);
	border: 1px solid map-get($colors, border);
	box-shadow: #{map-get($colors, box-shadow)};
}

// ボタンの色テーマ毎の色定義
$buttonColorThemes: (
	default: (
		background: #f2f2f2,
		border: #bfbfbf,
		text: #333,
		box-shadow: 'inset 0 1px 0 0 #fff, 0 2px 0 0 rgb(0 0 0 / 0.1)',
	),
	default-sub: (
		background: #fff,
		border: #bfbfbf,
		text: #333,
		box-shadow: 0 2px 0 0 rgb(0 0 0 / 0.1),
	),
	strong: (
		background: #0169c6,
		border: #0169c6,
		text: #fff,
		box-shadow: 'inset 0 1px 0 0 #67a5dd, 0 2px 0 0 rgb(0 0 0 / 0.1)',
	),
	conversion: (
		background: #ff730a,
		border: #ff730a,
		text: #fff,
		box-shadow: 'inset 0 1px 0 0 #ffab6c, 0 2px 0 0 rgb(0 0 0 / 0.1)',
	),
);

.button {
	@each $property, $colors in $buttonColorThemes {
		&[data-theme='#{$property}'] {
			@include color($colors);
		}
	}

	position: relative;
	display: inline-block;
	min-height: 35px;
	padding: 4px;
	font-weight: bold;
	font-size: 14px;
	line-height: 27px;
	text-align: center;
	border-radius: 2px;
	cursor: pointer;

	&:hover {
		opacity: 0.75;
	}

	&:disabled,
	&[aria-disabled='true'] {
		@include color(
			(
				text: #fff,
				background: #bfbfbf,
				border: #bfbfbf,
				box-shadow: none,
			)
		);

		// FIXME: 一瞬 cursor: pointer がチラッと見える瞬間があるので防ぎたい
		&:hover {
			cursor: default;
			opacity: 1;
		}
	}
}

// NOTE: 基本的には詳細度をつけることは禁止されています。
a.button {
	text-decoration: none;

	&[target='_blank'] {
		&::after {
			position: absolute;
			top: 0;
			right: 0;
			width: 15px;
			height: 100%;
			content: '';
			background: {
				position: top 4px right 4px;
				repeat: no-repeat;
				image: url('#{icon.get-icon-path(small-new-tab, dark)}');
			}
		}

		&[aria-disabled='true'] {
			&::after {
				background-image: url('#{icon.get-icon-path(small-new-tab, light)}');
			}
		}
	}
}
