$facebookIcon: './assets/images/btn_facebook.png';
$kakaoIcon: './assets/images/btn_kakao.png';
$twitterIcon: './assets/images/btn_twitter.png';

@mixin snsBtn {
	width: 28px;
	height: 28px;
	background-position: 50% 50%;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	margin: 0 3px;
}

.snsBtnfb {
	background: url($facebookIcon) no-repeat;
	@include snsBtn;
}

.snsBtntw {
	background: url($twitterIcon) no-repeat;
	@include snsBtn;
}

.snsBtnkt {
	background: url($kakaoIcon) no-repeat;
	@include snsBtn;
}

.snsBox {
	display: flex;
	justify-content: flex-end;
}
