@use 'src/styles/mobile/variables';

.alert {
	padding-left: 19px;
	color: #d00;

	&::before {
		margin-right: 4px;
		margin-left: -19px;
		padding: 0.2em 0 3px 15px;
		content: '';
		background: {
			position: left 0.2em;
			image: url('#{variables.$commonPath}/warning.png');
			repeat: no-repeat;
		}
	}
}
