.listWrapper {
	width: 100%;
	min-height: 255px;
}

.list {
	display: flex;
	align-items: stretch;
	min-height: 250px;
	padding: 14px 0 5px;
	overflow-x: auto;
	letter-spacing: 0;
	white-space: nowrap;
}

.item {
	display: flex;
	width: 130px;
	margin-left: 15px;
	padding: 5px;
	font-size: 15px;
	line-height: 1.25;
	letter-spacing: 0;
	white-space: normal;
	text-align: left;
	vertical-align: top;
	background-color: #fff;
	border-radius: 5px;

	&:last-child {
		margin-right: 15px;
	}
}

.itemContainer {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.imageWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 110px;
	height: 110px;
	padding: 5px;
	background-color: #fff;
}

.image {
	max-width: 100px;
	max-height: 100px;
	object-fit: contain;
}

.productName {
	/* stylelint-disable-next-line value-no-vendor-prefix */
	display: -webkit-box;
	margin-top: 15px;
	overflow: hidden;
	color: #004bb1;
	font-weight: bold;
	white-space: pre-line;
	text-decoration: none;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.brandName {
	margin-top: 3px;
	color: #aaa;
	font-size: 12px;
	text-decoration: none;
}

.text {
	display: flex;
	flex-direction: column;
	margin-top: 3px;
	color: #333;
	font-size: 11px;
}

.textBold {
	font-weight: bold;
	font-size: 11px;
}

.daysToShip {
	display: flex;
	flex: 1 0 auto;
	align-items: flex-end;
	margin: 4px 0;
}
