.main {
	max-width: 1420px;
	margin: 0 auto;
}

.templateHeader {
	display: flex;
	.header {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
}

.heading {
	margin-top: 1rem;
}

.introduction {
	display: flex;
	margin-top: 16px;
}

.attributes {
	flex: 1;
	margin-top: 32px;
	margin-left: 25px;
	padding-bottom: 15px;
	padding-left: 15px;
}

.extraColumn {
	float: right;
	width: 210px;
	margin-left: 20px;
	// pdf link
	ul {
		text-align: right;
		border: none;

		li a span {
			padding-left: 0.5rem;
			border-left: 1px solid #ccc;
		}
	}
}

.actionsPanelContainer {
	margin-top: 32px;
}

.specContainer {
	display: flex;
	gap: 30px;
	height: 100%;
}

.filter {
	position: sticky;
	z-index: 2;
	display: flex;
	flex-direction: column;
	width: 460px;
	margin-top: 32px;
}

.sticky {
	flex: 1;
}
