.price {
	min-height: 35px;
	color: #333;
	font-size: 11px;
}

.preDiscountPrice {
	text-decoration: line-through;
}

.standardPrice {
	font-weight: bold;
}

.campaignPriceLabel {
	color: #d00;
	font-weight: bold;
}
