@use 'src/styles/mobile/variables';

.progressTitle {
	margin: 20px 0;
	padding-bottom: 10px;
	font-size: 15px;
	border-bottom: 1px solid #bfbfbf;
}

.target {
	font-weight: bold;
}

.downloadFileContainer {
	padding: 0 15px;
}

.progressWrapper {
	margin-top: 20px;
}

.downloadFileLink {
	padding-left: 8px;
	color: #004bb1;
	text-decoration: none;
	overflow-wrap: break-word;
	background: {
		position: left center;
		image: url('#{variables.$commonPath}/arrow-right-small.png');
		repeat: no-repeat;
	}

	&:hover {
		color: #ff730a;
		text-decoration: underline;
	}
}
