.errorArea {
	width: auto;
	margin: 15px 15px 45px;
}

.errorTitle {
	display: flex;
	flex-direction: column-reverse;
	margin-bottom: 4px;
	color: #0169c6;
	font-weight: bold;
	line-height: 1.4;
	white-space: nowrap;
}

.errorTitleMain {
	display: block;
	margin: 25px 0 10px;
	color: #0169c6;
	font-weight: bold;
	font-size: 7vw;
	line-height: 1.4;
	letter-spacing: -0.01em;
	white-space: nowrap;
	text-align: center;
}

.errorTitleSide {
	display: block;
	margin-left: 0;
	padding: 10px;
	color: #0169c6;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.4;
	white-space: nowrap;
	text-indent: 0;
	background: #e8e8e8;
}

.errorAreaText {
	width: 100%;
	margin: 10px 0;
	padding: 0;
	overflow: hidden;
	color: #333;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.6;
	white-space: nowrap;
	text-align: center;
	text-indent: 0;
}

.gotoTop {
	margin-top: 30px;
	text-indent: 0;
}

.gotoTopLink {
	display: block;
	box-sizing: border-box;
	width: 260px;
	height: 37px;
	margin: 30px auto 0;
	padding: 6px 2px;
	overflow: hidden;
	color: #333;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.6;
	white-space: nowrap;
	text-align: center;
	text-decoration: none;
	background-color: #f2f2f2;
	background-image: url(./assets/gotoTopLinkArrow.png);
	background-repeat: no-repeat;
	background-position: 10px center;
	border: 1px solid #bfbfbf;
	border-radius: 2px;
	box-shadow: inset 0 1px 0 0 #fff, 0 2px 0 0 rgb(0 0 0 / 0.1);
}
