@use 'src/styles/pc/icon';

.recommendContent {
	margin-top: 80px;
}

.categoryPanelContainer {
	position: relative;
	padding: 0 64px;
}

.categoryPanelList {
	display: flex;
	justify-content: left;
	min-height: 160px;

	&[data-page-size='4'] {
		width: 736px;
		margin: 0 43px;
	}

	&[data-page-size='5'] {
		width: 920px;
		margin: 0 76px;
	}

	&[data-page-size='6'] {
		width: 1104px;
		margin: 0 84px;
	}
}

.categoryPanel {
	padding: 0 12px;
	color: #004098;
	font-size: 0.8125rem;
	word-wrap: break-word;
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}

.imageContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 160px;
	height: 160px;
	padding: 10px;
	border: solid 1px #999;
}

.image {
	max-width: 100%;
	max-height: 100%;
}

.categoryName {
	margin-top: 10px;
}

.link {
	color: #004098;
	text-decoration: none;

	&:visited {
		color: #004098;
	}
}

%pager {
	position: absolute;
	top: 25%;
	width: 43px;
	height: 43px;
	cursor: pointer;
	opacity: 1;

	&:hover {
		opacity: 0.75;
	}
}

.previous {
	@extend %pager;

	left: 0;
	background-image: url('#{icon.get-icon-path(circle-left-arrow, light)}');

	&:hover {
		background-image: url('#{icon.get-icon-path(circle-left-arrow, dark)}');
	}
}

.next {
	@extend %pager;

	right: 0;
	background-image: url('#{icon.get-icon-path(circle-right-arrow, light)}');

	&:hover {
		background-image: url('#{icon.get-icon-path(circle-right-arrow, dark)}');
	}
}
