.checkbox {
	margin-bottom: 4px;
	padding: 4px 8px 4px 32px;
	background-image: url(./assets/images/unchecked.svg);
	background-repeat: no-repeat;
	background-position: 8px 5px;
	cursor: pointer;

	&:hover {
		background-color: #ecf3fc;
	}

	&[aria-disabled='true'] {
		cursor: default;
		opacity: 0.5;

		&:hover {
			background-color: transparent;
		}
	}

	&[aria-checked='true'] {
		background-image: url(./assets/images/checked.svg);
	}
}

.wrap {
	overflow-wrap: break-word;
}
