.chatplus {
	position: fixed;
	right: 30px;
	bottom: 150px;
	display: block;
	width: 120px;
	background-image: url(./assets/chatplus.png);
	pointer-events: auto;
}

.link {
	display: block;
	width: 120px;
	height: 89px;
}
