.loadingTitle {
	margin: 20px 0;
	padding-bottom: 10px;
	font-size: 0.9375rem;
	border-bottom: 1px solid #bfbfbf;
}

.selectWrapper {
	display: inline-block;
	margin-bottom: 10px;
}

.buttonWrapper {
	margin-top: 40px;
	text-align: center;
}
