.errorMessage {
	color: #c00;
	font-weight: bold;
	font-size: 0.9375rem;
}

.errorGuide {
	margin: 0.25rem 0;
	padding-left: 13px;
	font-size: 0.8125rem;
	white-space: nowrap;
	text-indent: -13px;
}

.alert {
	color: #c00;
	font-size: 0.8125rem;
}
