@use 'src/styles/pc/icon';

.link {
	display: inline-flex;
	align-items: center;
	padding: 7px 12px;
	color: #004098;
	font-weight: bold;
	font-size: 0.8125rem;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 -2px 0 #b3b3b3;

	&:hover {
		color: #3366ac;
	}

	&::before {
		width: 16px;
		height: 16px;
		margin-right: 8px;
		content: '';
		background: {
			position: left center;
			image: url('#{icon.get-path('pdf')}');
			repeat: no-repeat;
		}
	}
}

.notice {
	margin-top: 3px;
	font-size: 14px;
	text-align: center;
}

.page {
	margin-left: 5px;
}
