@use 'src/styles/pc/icon';

%default {
	display: inline-block;
	color: #004098;
	cursor: pointer;

	&:visited {
		color: #681da8;
	}

	&:hover {
		color: #025fae;
	}
}

.primary {
	@extend %default;

	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.secondary {
	@extend %default;
}
