.container {
	display: flex;
	flex-wrap: wrap;
	padding-top: 16px;
	word-break: break-word;
	border-top: dotted 1px #ccc;
}

.specWrapper {
	width: 50%;
	margin-top: 3px;
}

.spec {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	width: 100%;
	font-size: 0.8125rem;
}

.specName {
	&::after {
		content: ':';
		padding: 0 4px;
	}
}

.pictValue {
	display: inline-block;
	margin-right: 1em;
	font-size: 0.8125rem;
	vertical-align: top;
}
