.container {
	display: flex;
	width: calc(100% - 40px);
	height: 16px;
}

.guide {
	position: relative;
	display: inline-block;
	height: 16px;
	margin-right: 10px;
	background: #b8b8b8;

	&::before {
		position: absolute;
		top: 0;
		right: -10px;
		display: block;
		width: 0;
		height: 0;
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
		border-left: 10px solid #b8b8b8;
		content: '';
	}
}

.active {
	background: #039;

	&::before {
		border-left-color: #039;
	}
}
