@use 'src/styles/pc/variables';

@mixin pcpCloseBtnBase {
	float: right;
	width: 15px;
	height: 15px;
	cursor: pointer;
}

$closeBtnPcp: '../assets/images/ic_closeBtn2.png';
$checkboxPcp: '../assets/images/icon_checkbox2_on_03.png';

.compareTable {
	box-sizing: border-box;
	width: 1200px;
	overflow-x: hidden;
	table {
		border-collapse: collapse;
		border-spacing: 0;
		font-size: inherit;
	}
	.tableInfo {
		box-sizing: border-box;
		border: 1px solid #bfbfbf;
		colgroup {
			col {
				width: 199px;
			}
		}
		tr,
		th,
		td {
			font-size: 14px;
			padding: 0;
			margin: 0;
			border: 1px solid #bfbfbf;
			background-color: #fff;
		}
		th {
			font-size: 14px;
			background-color: #f3f3f3;
			text-align: center;
			padding: 11px;
			vertical-align: middle;
		}
		td {
			font-family: 'Nanum Gothic', 'Malgun Gothic', Dotum, Arial, sans-serif;
			font-weight: normal;
			text-align: center;
			vertical-align: middle;
			padding: 11px;
		}
		.product {
			p {
				white-space: normal;
				word-break: break-all;
			}
			.closeBtn {
				@include pcpCloseBtnBase();
				background: url($closeBtnPcp) no-repeat;
			}
			.tableCheckbox {
				float: left;
				box-sizing: border-box;
				border: 1px solid #cecece;
				background-color: #fff;
				width: 18px;
				height: 18px;
				cursor: pointer;
			}
			.tableImg {
				margin-top: 25px;
				margin-bottom: 5px;
				img {
					max-width: 133px;
					max-height: 133px;
					min-width: 133px;
					min-height: 133px;
				}
			}
			&.on {
				background-color: #749dcf;
				p {
					color: #fff;
				}
				.tableCheckbox {
					background: url($checkboxPcp) #fff;
				}
				.closeBtn {
					float: right;
					width: 15px;
					height: 15px;
					background: url($closeBtnPcp) no-repeat;
					cursor: pointer;
				}
			}
			a {
				text-decoration: none;
			}
			.productType {
				display: inline-block;
				cursor: pointer;
			}
			.productType.productTypeNewWindow {
				&::after {
					content: '';
					display: inline-block;
					width: 9px;
					height: 9px;
					margin: 0 0 1px 8px;
					background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKklEQVQoz2MwNjZmgOL/uDADsYqQBRiwYLgihoFRhNfhWE2AsfGaAFMEAOblXD7OF0PdAAAAAElFTkSuQmCC')
						no-repeat;
				}
				&.on {
					.productType.productTypeNewWindow {
						&::after {
							background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQoz2P4//8/AxTjBAzEKsKlCa6ZAU0xnRXhdThWE2BsvCbAFAEAQFId8ZUdpT8AAAAASUVORK5CYII=')
								no-repeat;
						}
					}
				}
			}
		}
	}
	.tableDiffRow {
		th,
		td {
			border: 1px solid #ffdf60;
			background-color: #fff9df;
			vertical-align: middle;
		}
	}
}
