@use 'src/styles/pc/variables';

.headerGnb {
	width: calc(100% - 240px);
	margin: 10px 0 0 0;
	padding: 5px 0 0 0;
	> ul {
		width: 100%;
		display: flex;
		justify-content: space-between;
		max-width: 690px;
		margin: 0 auto;
		> li {
			position: relative;
			> a {
				display: flex;
				height: 35px;
				line-height: 40px;
				align-items: center;
				justify-content: center;
				text-align: center;
				color: #333;
				font-size: 16px;
				padding: 0;
				text-decoration: none;
				&:hover {
					color: #0f218b !important;
				}
				&:visited {
					color: #333;
				}
				&:link {
					color: #333;
				}
				> i {
					width: 5px;
					height: 5px;
					border-top: #0f218b 1px solid;
					border-right: #0f218b 1px solid;
					transform: rotate(135deg);
					margin: 0 0 0 5px;
				}
			}
			.n {
				width: 5px;
				height: 5px;
				margin-top: -10px;
				border-radius: 50%;
				text-indent: -9999px;
				background-color: #ffcc00;
			}
		}
		.active {
			i {
				transform: rotate(-45deg);
			}
		}
		.econ {
			a {
				font-weight: 600;
			}
		}
	}
	.depth2 {
		position: absolute;
		top: 39px;
		left: -20px;
		width: 185px;
		background-color: #fff;
		padding: 14px 0;
		z-index: 9999;
		a {
			cursor: pointer;
			display: block;
			font-size: 14px;
			color: #333;
			text-align: left;
			line-height: 1.2;
			white-space: nowrap;
			padding: 8px 6px 8px 22px;
			letter-spacing: -0.05em;
			text-decoration: none;
			&:hover {
				color: #0f218b !important;
			}
			&:visited {
				color: #333;
			}
			&:link {
				color: #333;
			}
		}
	}
}
