.item {
	box-sizing: border-box;
	padding: 15px 0;
	border-bottom: 1px dotted #bfbfbf;

	&:first-child {
		border-top: 1px dotted #bfbfbf;
	}
}

.main {
	display: flex;
}

.imageSide {
	flex: 0 0 64px;
}

.link[class] {
	width: 100%;

	&:hover,
	&:visited {
		text-decoration: none;
	}
}

.image {
	overflow: hidden;
}

.mainSide {
	width: calc(100% - 64px);
	margin-left: 8px;
}

.labelIconList {
	margin-bottom: 3px;
}

.panelIconList {
	display: flex;
	justify-content: space-between;
}

.seriesNameWrapper {
	overflow: hidden;
	vertical-align: top;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.seriesName {
	/* stylelint-disable-next-line value-no-vendor-prefix */
	display: -webkit-box;
	width: 100%;
	overflow: hidden;
	color: #000;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.8;
	text-decoration: none;
	text-overflow: ellipsis;
	word-wrap: break-word;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}

.brandName {
	margin: 3px 0;
	margin-top: 8px;
	color: #ccc;
	font-size: 12px;
}
