.box {
	padding: 30px;
	border: 1px solid #999;
}

.header {
	display: flex;
	justify-content: center;
	font-size: 1.3125rem;
	line-height: 1.3;
}

.buttonBox {
	width: 100%;
	margin-top: 16px;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 47px;
	border-radius: 0;
}

.guideLink {
	width: 100%;
	margin-top: 20px;
	padding: 13px 10px 10px;
	color: #333;
	line-height: 2.5;
	text-align: center;
	border: solid 1px #999;

	&:hover {
		color: #004098;
	}

	&:visited {
		color: #333;

		&:hover {
			color: #004098;
		}
	}
}

.strong {
	font-weight: bold;
}
