.sinusBrowserOnlyAlertTitle {
	color: #d00;
	font-weight: bold;
	font-size: 0.9375rem;
}

.sinusBrowserOnlyItem {
	margin: 0.25em 0;
}

.noMidentErrorTitle {
	color: #d00;
	font-size: 1rem;
}

.link {
	color: #004bb1;

	&:visited {
		color: #851f99;
	}
}
