@use 'src/styles/pc/icon';

.container {
	position: relative;
}

.imageList {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	width: 250px;
	height: 50px;
	margin: 10px 0 0;
	overflow: hidden;
}

.image {
	display: block;
	width: 100%;
	height: 100%;
}

.arrowContainerLeft {
	width: 42px;
	margin-right: 12px;
	text-align: left;
}

.arrowContainerRight {
	width: 42px;
	margin-left: 12px;
	text-align: right;
}

.arrow {
	display: block;
	width: 24px;
	height: 24px;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;

	&:hover {
		background-color: #ecf3fc;
	}
}

.previousArrow {
	background-image: url('#{icon.get-path('left-arrow')}');
}

.nextArrow {
	background-image: url('#{icon.get-path('right-arrow')}');
}

.thumbnail {
	box-sizing: content-box;
	width: 48px;
	height: 48px;
	margin-left: 8px;
	border: 1px solid #bfbfbf;

	&:hover {
		border-color: #004098;
		cursor: pointer;
		opacity: 0.75;
	}

	&:not(:first-child) {
		margin-top: 6px;
	}
}

.hiddenThumbnail {
	display: none;
}

.activeThumbnail {
	border: 1px solid #004098;
}

.firstThumbnail {
	margin-left: 0;
}
