@use 'src/styles/mobile/variables';

// お取り引きステータス表示リンク
.area {
	position: relative;
}

.buttonBox {
	position: relative;
	z-index: variables.$popoverZIndex;
	margin-bottom: 15px;
	padding: 0 15px;
	font-size: 15px;
	text-align: right;
}

.button {
	display: block;
	box-sizing: border-box;
	padding: 6px 2px;
	color: #333;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	background-color: #f2f2f2;
	border: 1px solid #bfbfbf;
	border-radius: 2px;
	box-shadow: inset 0 1px 0 0 #fff, 0 2px 0 0 rgb(0 0 0 / 0.1);
	cursor: pointer;
}

.popupBackground {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: variables.$popoverZIndex;
	width: auto;
	height: auto;
	overflow: hidden;
	background-color: #000;
	opacity: 0.3;
}

.arrow {
	position: absolute;
	top: 100%;
	right: 50%;
	left: 50%;
	display: block;
	width: 0;
	height: 0;
	border: solid transparent;
	pointer-events: none;
	content: ' ';
}

.popupBox {
	position: absolute;
	right: 15px;
	bottom: 100%;
	left: 15px;
	z-index: variables.$popoverZIndex;
	box-sizing: border-box;
	width: auto;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #0098d8;
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.3);

	&::before {
		@extend .arrow;

		margin-left: -7px;
		border-width: 7px;
		border-top-color: #0098d8;
	}

	&::after {
		@extend .arrow;

		right: 22px;
		margin-left: -6px;
		border-width: 6px;
		border-top-color: #fff;
	}
}

.popupText {
	margin: 5px;
	color: #000;
	font-size: 15px;
	line-height: 1.6;
}

.popupButtonWrap {
	height: 38px;
	margin: 10px 0;
}

.nagiLinkClosePopupButton {
	height: 100%;
	line-height: 1.6;
}
