import { MsmApiResponse } from '@/models/api/msm/MsmApiResponse';
{{#imports}}
{{{.}}}
{{/imports}}
{{#interfaces}}

{{#descriptions}}
/** {{{.}}} */
{{/descriptions}}
{{#root}}
export interface {{name}} extends MsmApiResponse {
{{/root}}
{{^root}}
export interface {{name}} {
{{/root}}
{{#properties}}
{{> property}}
{{/properties}}
}
{{/interfaces}}
