.contents {
	display: flex;
	// Header 101px + PrimaryCategoryNav 82px + Footer 50px
	height: calc(100dvh - 233px);
	background: #cad5e8;
}

.tertiaryList {
	flex: 1 1 100%;
	padding-right: 9px;
}

.loader {
	// Header 101px + PrimaryCategoryNav 82px + Footer 50px
	// この段階でPrimaryCategoryNavは表示されていなそうなため数値に入れず
	height: calc(100dvh - 101px);
	padding-bottom: 50px;
}
