@use 'src/styles/pc/variables';

.title {
	margin-bottom: 16px;
	padding-bottom: 8px;
	font-weight: bold;
	font-size: 1.0625rem;
	line-height: 1.3;
	border-bottom: 1px solid #ccc;
}
.buttonHelpIcon {
	display: inline-block;
	margin-left: 5px;
	cursor: pointer;
}
.helpIcon {
	display: inline-block;
	width: 17px;
	height: 18px;
	vertical-align: middle;
	background: {
		image: url('#{variables.$commonPath}/question.svg');
		repeat: no-repeat;
	}
}

.cadDownProductNo {
	width: 100%;
	h4 {
		display: inline-block;
		width: 84px;
		font-weight: 700;
	}
	p {
		display: inline-block;
		font-weight: 700;
		word-break: break-all;
		max-width: 405px;
	}
	a {
		float: right;
		font-weight: 700;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
		&::before {
			display: inline-block;
			content: '';
			width: 8px;
			height: 12px;
			margin-right: 3px;
			vertical-align: middle;
			background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAHAQMAAAAVq36TAAAABlBMVEW/v78AS7E2lsyyAAAAAXRSTlMAQObYZgAAABJJREFUGBljbmBmAEMJZgPmBAAIngE+HFgy7QAAAABJRU5ErkJggg==')
				0 0.26em no-repeat;
		}
	}
}
