.area {
	position: relative;
	margin-top: 70px;
	font-size: 14px;
}

.titleContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-indent: 0;
}

.title {
	font-weight: bold;
	font-size: 1.3125rem;
	line-height: 1.3;
}

.readMore {
	line-height: 1;
}

.content {
	margin-top: 22px;
	border-top: solid 1px #ccc;
}

.article {
	padding: 5px 0 25px;
	border-bottom: 1px dotted #ccc;
}

// NOTE: Specificity is not allowed, but it is used here to handle
.articleLink[class] {
	color: #333;
	text-decoration: none;

	&:visited {
		color: #333;
	}

	&:hover {
		color: #004098;
		text-decoration: underline;
	}
}
