.page {
	display: inline-block;
	margin-left: 11px;
	padding-left: 11px;
	font-weight: normal;
	line-height: 1;
	border-left: 1px solid #bfbfbf;
}

.buttonText {
	display: inline-block;
	line-height: 1;
}

.button {
	font-size: 14px;
}

.notice {
	margin-top: 3px;
	font-size: 14px;
	text-align: center;
}
