@use 'src/styles/mobile/variables';

.cellWrapper {
	position: relative;
	padding: 10px 0;
	border-bottom: 1px solid #bfbfbf;
}

.partNumber {
	position: relative;
	padding: 2px 10px;
	font-size: 0.8rem;
	background-color: #efefef;
}

.completed {
	position: relative;
	border: 1px solid #039;

	&::after {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 17px;
		height: 13px;
		background-image: url('#{variables.$commonPath}/checked.png');
		background-size: 17px 13px;
		content: '';
	}
}

.specList {
	position: relative;
	margin: 0;
	padding-right: 10px;
	color: #717171;
	font-size: 0.8rem;

	&::after {
		position: absolute;
		right: 0;
		width: 10px;
		height: 10px;
		background-image: url(./assets/images/expand-arrow.png);
		background-repeat: no-repeat;
		background-size: 6px 10px;
		content: '';
	}

	&[aria-expanded='false'] {
		height: 1.2rem;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;

		&::after {
			top: 9px;
			transform: rotate(90deg);
		}
	}

	&[aria-expanded='true'] {
		word-wrap: break-word;

		&::after {
			top: 4px;
			transform: rotate(270deg);
		}
	}
}
