.techSupportContentWrapper {
	box-sizing: border-box;
	padding: 15px;
	font-size: 14px;
	background-color: #fff;
}

.techSupportListLink {
	padding-left: 8px;
	text-decoration: none;
	background: url(./assets/arrow.png) 0 0.5em no-repeat;
}
