.logoutButton {
	display: block;
	box-sizing: border-box;
	padding: 6px 2px;
	color: #333;
	font-weight: bold;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
	background-color: #fff;
	border: 1px solid #bfbfbf;
	border-radius: 2px;
	box-shadow: 0 2px 0 0 rgb(0 0 0 / 0.1);
}
