.myComponentsModalMessage {
	margin: 20px 0 40px;
	font-size: 14px;
	line-height: 1.6;
	text-align: center;
}

.functionWrapper {
	display: flex;
	margin-top: 20px;
	font-size: 0;
}

.myComponentsButtonWrapper {
	width: 50%;
	padding-right: 5px;
}

.closeButtonWrapper {
	width: 50%;
	padding-left: 5px;
}

.actionButton {
	font-size: 14px;
}
