.accent {
	margin: 0 3px;
	color: #333;
	font-weight: bold;
	font-size: 0.8125rem;
}

.mediumAccent {
	display: inline-block;
	margin: 0 3px;
	margin-top: -0.3em;
	color: #333;
	font-weight: bold;
	font-size: 0.9375rem;
}

.largeAccent {
	display: inline-block;
	margin: 0 3px;
	margin-top: -0.3em;
	color: #333;
	font-weight: bold;
	font-size: 1.0625rem;
}

.isRed {
	color: #c00;
}

.symbol {
	font-size: 0.8125rem;
}

.strike {
	color: #666;
	font-weight: normal;
	text-decoration: line-through;
}
