.alert {
	color: #c00;
	font-size: 0.8125rem;
}

.title {
	margin-bottom: 16px;
	padding-bottom: 8px;
	font-weight: bold;
	font-size: 1.0625rem;
	line-height: 1.3;
	border-bottom: 1px solid #ccc;
}

.loader {
	margin: 57px 0;
}
