.messageBox {
	margin: 2rem 0 3rem;
	text-align: center;
}

.headword {
	color: #d00;
	font-weight: bold;
	font-size: 1.0625rem;
}

.note {
	margin: 0.25rem 0;
	padding-left: 1rem;
	text-indent: -1rem;
}
