@use 'src/styles/pc/variables';

.page {
	width: 1420px;
	margin: 0 auto;
	padding: 0 10px;
}

.breadcrumbWrap {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.main {
	width: 1200px;
	margin: 0 auto;
}

.heading {
	margin-top: 32px;
	margin-bottom: 16px;
	font-size: 1.4375rem;
	line-height: 1.3;
}

.compareResult {
	width: 1200px;
	margin: 0 auto;
}
.topBtnSection {
	float: right;
	margin: 15px 0;

	button {
		margin-right: 10px;
		max-width: 125px;
	}
}
.ndrClearfix {
	&::after {
		content: '';
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}
}
.productList {
	position: relative;
	margin: 10px 0;
	word-break: break-all;
	word-wrap: break-word;
}
.productListBody {
	margin-bottom: 10px;
}

.mainSection {
	box-sizing: border-box;
	float: left;
}
.compareInfo {
	float: left;
	margin-bottom: 10px;
	p {
		float: left;
		margin-right: 10px;
	}
}
.right {
	float: right;
	p {
		float: right;
		margin-right: 10px;
	}
	a {
		color: #004bb1;
		cursor: pointer;
		&:visited {
			color: #851f99;
		}
	}
}
