.selectFileType {
	display: table;
	margin: 10px 0;
	> tbody {
		> tr {
			> th {
				white-space: nowrap;
				padding-top: 5px;
				text-align: left;
				font-weight: bold;
			}
			> td {
				padding-top: 5px;
				padding-left: 5px;
				> .select {
					min-width: 178px;
					height: 36px;
				}
			}
			&:first-child {
				> th,
				> td {
					padding-top: 0;
				}
			}
		}
	}
}
.linkWrapper {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
}
.seeAllLink {
	color: #004098;
	font-size: 0.8125rem;
	text-decoration: none;

	&:link {
		color: #004098;
	}

	&:hover {
		text-decoration: underline;
		cursor: pointer;
	}
}
