@use 'src/styles/pc/variables';

.container {
	flex-shrink: 0;
}

.contactContainer {
	position: relative;
}

.ballon {
	position: absolute;
	top: 0;
	right: 0;
	z-index: variables.$standardStickyZIndex + 1;
	width: 500px;
	padding: 9px;
	white-space: normal;
	background-color: #fff;
	border: 1px solid #a7a7a7;
	box-shadow: 0 1px 5px 0 rgb(0 0 0 / 0.3);
}

.title {
	margin: -10px -10px 10px;
	padding: 7px 10px;
	color: #fff;
	font-weight: bold;
	font-size: 0.9375rem;
	background-color: #0098d8;
}

.inquiryBlock {
	margin-top: 15px;
}

.contactButton {
	display: inline-block;
	box-sizing: border-box;
	width: 280px;
	padding: 8px 12px;
	color: #fff !important;
	font-weight: bold;
	font-size: 0.8125rem;
	line-height: 1.5;
	text-align: center;
	text-decoration: none !important;
	background-color: #004098 !important;
	border-radius: 4px;
	box-shadow: inset 0 -2px 0 rgb(0 0 0 / 0.3);
}

.mainInner {
	padding: 8px 10px;
}

.disable {
	color: #fff;
	background-color: #a7a7a7;
	pointer-events: none;
}

.description {
	display: block;
	margin-top: 5px;
	font-size: 13px;
	white-space: pre-line;
}

.otherLinkContainer {
	position: relative;
	margin-top: 15px;
}

.otherLink {
	color: #004bb1;
}

.commentForm {
	box-sizing: border-box;
	width: 100%;

	dt {
		margin: 7px 10px 6px;
		font-size: 14px;
		font-weight: bold;
		color: #000;
	}
	dd {
		margin-bottom: 10px;
	}
}

.textArea {
	box-sizing: border-box;
	width: 100%;
	padding: 0.5em;
}

.inputText {
	width: 100%;
	box-sizing: border-box;
	padding: 0.5em;
	border: 1px solid #333;
}

.inner {
	border: 1px solid #bfbfbf;
	padding: 8px 5px 9px 20px;
	font-size: 14px;
}

.buttonInner {
	text-align: center;
}
.help {
	color: #004bb1;
	cursor: pointer;
}
.privacy {
	text-decoration: none;
	color: #004bb1;
}
.thank {
	font-size: 18px;
}
.unit {
	margin-top: 20px;
}
