@use 'src/styles/pc/variables';

.buttonWrapper {
	margin-left: 8px;
}

.detailLinkWrapper {
	text-align: right;
}

.detailLink {
	color: #004098;

	&:link {
		color: #004098;
	}

	&:visited {
		color: #681da8;
	}

	&:hover {
		text-decoration: underline;
		cursor: pointer;
	}
}

.imageGuide {
	margin-top: 1rem;
	padding: 1rem;
	background-color: #fffaeb;
	border: 1px solid #ccc;
}

.checkBoxWrapper {
	text-align: center;
}

.resolve {
	// DO NOT use "display: none" in others. This is for CADENAS functions.
	display: none;
}

.errorMessage {
	color: #c00;
	font-weight: bold;
	font-size: 0.9375rem;
}

.alert {
	color: #c00;
	font-size: 0.8125rem;
}

.noteItem {
	margin: 0.25rem 0;
	padding-left: 13px;
	font-size: 0.8125rem;
	white-space: nowrap;
	text-indent: -13px;
}

.alertStrong {
	color: #c00;
	font-weight: bold;
	font-size: 1.0625rem;
}

.loader {
	margin: 57px 0;
}

.select {
	min-width: 178px;
}

.cadLine {
	margin: 13px 0;
	border-top: 1px solid #d4d4d4;
	clear: both;
}
