@use 'src/styles/pc/variables';
@use 'src/styles/pc/_variables_original' as *;

.headerMeganavWrap {
	width: 200px;
	margin: 10px 0 0 0;
}

.meganav {
	position: relative;
	.h2 {
		width: 100%;
		display: flex;
		font-weight: 600;
		align-items: center;
		padding: 0 10px;
		height: 40px;
		background-color: #0f218b;
		color: #fff;
		border: none;
		font-size: 14px;
		cursor: pointer;
		i {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 16px;
			height: 12px;
			border-top: #fff 2px solid;
			border-bottom: #fff 2px solid;
			margin: 0 20px 0 0;
			&::after {
				content: '';
				width: 100%;
				height: 2px;
				background-color: #fff;
			}
		}
	}
	.h3 {
		box-sizing: border-box;
		margin: -1px;
		padding: 6px 20px 4px;
		background-color: $nagi_color_accent_sub;
		font-size: $fs_XL;
		font-weight: bold;
		color: $nagi_color_text_base_sub;
	}
	&.on {
		.h2 {
			background-color: $nagi_color_accent_hover;
		}
		.meganavSearch {
			display: block;
		}
	}
}
.meganavBody {
	position: absolute;
	width: 250px;
	z-index: 7000;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
	background-color: $meganav_color_bg_default;
}
.meganavSearch {
	position: relative;
	border: 1px solid $nagi_color_border_default;
	display: none;
}
.page1 {
	.meganav {
		.h2 {
			background-position: 169px 50%;
		}
	}
}

.newMaganavBanner {
	display: none;
	& > ul {
		& > li {
			line-height: 0;
			font-size: 0;
			border: 1px solid #a7a7a7;
			margin-top: 10px;
			&:first-child {
				margin-top: 0;
				border-top: 0;
			}
			& > a {
				display: block;
				background-repeat: no-repeat;
				background-position: 50% 50%;
				font-size: 1px;
				text-indent: -10000px;
				overflow: hidden;
			}
		}
	}
}
.on {
	&.meganav {
		.newMaganavBanner {
			display: block;
		}
	}
}
.simpleTop {
	.newMaganavBanner {
		display: none;
	}
}
