.quantityField {
	padding: 7px 15px;
	text-align: right;
	border: 1px solid #ccc;
	border-radius: 4px;

	&[aria-invalid='true'] {
		background-color: #fff;
	}

	&:focus {
		background-color: #fffaeb;
		outline-color: #004098;
	}

	&:disabled {
		color: #cdcdcd;
		background-color: #e5e5e5;
	}
}
