.modalContent {
	width: 560px;
	margin: 17px;
}

.modalMessage {
	margin-bottom: 40px;
	font-weight: bold;
	font-size: 18px;
}

.modalButtonWrapper {
	display: flex;
	justify-content: center;
}

.modalMessageButton {
	width: 190px; // for English
	margin-right: 10px;
}
