@use 'src/styles/pc/icon';

.container {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

%pager {
	position: absolute;
	width: 48px;
	height: 48px;
	background-repeat: no-repeat;
}

.leftPager {
	@extend %pager;

	left: 10px;
	background-image: url('#{icon.get-path('large-light-left-arrow')}');
}

.rightPager {
	@extend %pager;

	right: 10px;
	background-image: url('#{icon.get-path('large-light-right-arrow')}');
}
