.addToMyComponentModal {
	width: 920px;
}

.modalContent {
	padding: 16px;
}

.message {
	margin: 2rem 0 3rem;
	font-size: 0.8125rem;
	line-height: 1.6;
	text-align: center;
}

.button {
	margin-top: 48px;
	text-align: center;
}

.recommend {
	margin-top: 32px;
}
